body {
  background-color: #302e2b;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squareRow {
  display: flex;
}
.white {
  background: #eeeed2;
}
.black {
  background: #769656;
}
.square {
  width: 80px;
  height: 80px;
}
.piece {
  width: 100%;
}
