body {
  background-color: #302e2b;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squareRow {
  display: flex;
}
.white {
  background: #eeeed2;
}
.black {
  background: #769656;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlightYellow {
  background: #f7f769;
}
.piece {
  width: 100%;
}
.piece:hover {
  cursor: grab;
}
.highlight {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.12);
  z-index: 100;
}
